@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "roboto", sans-serifß;
}

html,
body {
width: 100%;
overflow-x: hidden;
}

.header {
    width: 100%;
    height: 500px;
    background: #F78B00;
}

.conteiner {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    z-index: 1;
}

.logo {
    font-size: 24px;
    color: #00285f;
}

.ul {
    display: flex;
    flex-direction: row;
}

.ul li {
    list-style: none;
    padding: 10px;
}

.ul li a {
    color: #00285f;
    text-decoration: none;
}

.ul button {
    padding: 9px 40px;
    background: transparent;
    border: 1px solid #00285f;
    border-radius: 10px;
    margin-left: 10px;
    color: #00285f;
    font-weight: bold;

}

.segundo-header {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: #00285f;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 999;
    padding: 10px;
}

.segundo-header img {
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.intro {
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.intro h2 {
    color: white;
    margin-bottom: 20px;
    text-align: right;
}

.segundo-header p {
    max-width: 280px;
    color: white;
    text-align: right;
}

.catalogo {
    width: 100vw;
    padding: 100px;
}

.pesquisa {
    width: 980px;
    height: 150px;
    background: #ededed;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    text-indent: 10px;
}

.botao-pesquisa {
    width: 150px;
    height: 50px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background: #00285f;
    color: white;
    font-size: 24px;
}

.search-text {
    margin: 60px 0px 30px 0px;
    font-size: 20px;
}

.cards {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}

.card {
    height: 400px;
    background: #ededed;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}

.card img {
    width: 250px;
}

.card p {
    width: 240px;
    font: italic;
    color: #00000070;
    justify-content: space-around;
}

.card-text button {
    width: 240px;
    padding: 15px;
    border: none;
    background: #00285f;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.about {
    width: 101%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.titulo-about {
    margin-bottom: 30px;
    font-size: 20px;
}

.conteudo-about {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #ededed;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.imagem-about {
    min-width: 300px;
    background: #00000051;
    border-radius: 10px;
}

.texto-about {
    width: 65%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 230px;
}

.texto-about h3 {
    text-align: right;
    width: 532px;
    margin-bottom: 20px;
}

.texto-about p {
    font-size: 16px;
    letter-spacing: 2px;
    text-align: right;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 63px;
}

.features {
    width: 100%;
    height: 100%;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.titulo-features {
    margin: 200px 0px 50px 0px;
    font-size: 20px;
}

.final-cards {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: white;
    margin: 0 auto;
    border-radius: 8px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 30px;
}

.final-card {
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #31303018;
    border-radius: 5px;
}

.final-card img {
    width: 60px;
    height: 60px;
}

footer {
    width: 100%;
    height: 250px;
}

.final {
    width: 100%;
    height: 210px;
    background: #F78B00;
}

.social {
    max-width: 1000px;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.company {
    color: white;
    height: 100%;
    min-height: 100px;
}

.rental {
    color: white;
    height: 100%;
    min-height: 100px;
}

.contact {
    color: white;
    height: 100%;
    min-height: 100px;
}

.social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.social h4,
h5,
h6 {
    margin-bottom: 10px;
}

.icones img {
    width: 30px;
    height: 30px;
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #00285f;
    color: white;

}


/* Responsividade */

@media (max-width: 576px){
    .nav ul li {
        display: none;
    }
    .segundo-header img {
        width: 70%;
        position: absolute;
        right: 16%;
        top: 30%;
    }
    .intro {
        position: absolute;
        bottom: 10%;
        left: 15%;
    }
    .catalogo {
        max-width: 700px;
        min-width: 240px;
    }
    #cont {
        margin: 0px 0px 0px -55px;

    }
    .pesquisa {
        margin: 0px 0 0px -54px;
        width: 388px;
    }
    .botao-pesquisa {
        font-size: 18px;
    }
    .search-text {
        margin: 57px 0px 31px -53px;
    }
    
    .conteudo-about {
        display: none;
    }
    .imagem-about {
        display: none;
    }
    .texto-about {
        display: none;
    }
    .titulo-about {
        display: none;
    }
    .features {
        height: 100%;
    }
    .final-cards {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer {
        height: 100%;
    }
    .social {
        flex-direction: column;
        padding-left: 20px;
    }
    .final {
        height: 170%;
    }
}

@media (max-width: 700px) and (min-width: 430px){
    .search-text {
        margin: 60px 0px 30px -91px;
        width: 560px;
    
    }
    .pesquisa {
        width: 560px;
    margin: 0px 10px 0px -91px;
    }
}
